<div class="checkout-container" fxLayout="row" fxLayoutAlign="space-evenly stretch" *ngIf="checkoutItems.length >0">
  <form class="checkout-form" [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <h3 class="checkout-title">Shipping Details</h3>
    <div class="purchase-email">
      <input type="email" class="email form-input" placeholder="EMAIL" formControlName="email" ngModel email>
      <div class="email-error" *ngIf="orderForm.controls.email.errors?.email">
        Email not valid.
      </div>
    </div>
    <div class="purchase-name">
      <input type="text" class="first-name form-input" placeholder="FIRST NAME" formControlName="firstName">
      <input type="text" class="last-name form-input" placeholder="LAST NAME" formControlName="lastName">
    </div>
    <div class="purchase-info">
      <input type="text" class="city form-input" placeholder="CITY" formControlName="city">
      <input type="text" class="state form-input" placeholder="STATE" formControlName="state">
      <input type="text" class="zip form-input" placeholder="ZIP" formControlName="zip">
    </div>
    <h3 class="checkout-title">Payment Information</h3>
    <div class="payment-info" class="card-date">
      <div class="card-number-error" *ngIf="cardNumberInvalide">Card Number not valide.</div>
      <input type="text" class="card-number form-input" placeholder="CARD NUMBER" formControlName="cardNumber">
      <div class="card-info" >
        <div class="card-date-error" *ngIf="dateInvalide">Date not valide.</div>
        <mat-form-field appearance="fill" >
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="dp" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          panelClass="example-month-picker"
                          (monthSelected)="chosenMonthHandler($event, dp)"
                          >
          </mat-datepicker>
        </mat-form-field>
        <input type="password" class="card-ccv form-input" placeholder="CCV" formControlName="cardCcv">
      </div>
    </div>
    <button class="form-btn" [disabled]="!orderForm.valid || cardNumberInvalide ||dateInvalide">Purchase</button>
  </form>
  <div class="order-details">
    <h3 class="checkout-title">Selected Products</h3>
    <div class="checkout-items" *ngFor="let item of checkoutItems">
      <app-checkout-item [checkoutItem]="item"></app-checkout-item>
    </div>
    <div class="checkout-total ">
      Total price: {{total}} $
    </div>
  </div>
</div>


