.wishlist-container {
  min-width: 800px;
  max-width: 900px;
  max-height: 750px;

  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;

}

.wishlist-title {
  text-align: center;
}

mat-dialog-container {
  background-color: #b4a7d6 !important;
}
