<div class="cart-item" fxLayout="row"  fxLayoutAlign="space-between stretch">
  <div class="cart-item-wrapper">
    <div class="cart-item-title">Name</div>
    <div class="cart-item-name">{{cartItem.name}}</div>
  </div>
  <div class="cart-item-wrapper">
    <div class="cart-item-title">Price</div>
    <div class="cart-item-price">{{cartItem.price}}</div>
  </div>
  <div class="cart-item-wrapper">
    <div class="cart-item-title">Quantity</div>
    <div class="cart-item-quantity" fxLayout="row">
      <button class="quantity-btn" (click)="decrementClick();" mat-button>-</button>
      <input class="product-quantity-input"value={{cartItem.qty}}/>
      <button class="quantity-btn" (click)="incrementClick()">+</button>
    </div>
  </div>

</div>

