<div *ngIf="cartItems.length === 0 && storageData$.length === 0">Your Cart is Empty.</div>
<div class="cart-items">
  <div *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </div>
  <div class="cart-total" *ngIf="cartItems.length> 0">
    <span class="cart-total-title">Cart Total:</span>
    {{ cartTotal | currency: "USD" }}
  </div>
</div>

<div *ngIf="cartItems.length === 0" class="cart-items">
  <div *ngFor="let item of storageData$">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </div>
  <div class="cart-total" *ngIf="storageData$.length> 0">
    <span class="cart-total-title">Cart Total:</span>
    {{ cartTotal | currency: "USD" }}
  </div>
</div>

<!-- <div *ngIf="cartItems.length === 0">Your Cart is Empty.</div>
<div class="cart-items">
  <div *ngFor="let item of cartItems">
    <app-cart-item [cartItem]="item"></app-cart-item>
  </div>
  <div class="cart-total" *ngIf="cartItems.length> 0">
    <span class="cart-total-title">Cart Total:</span>
    {{ cartTotal | currency: "USD" }}
  </div>
</div> -->
