<div class="checkout-item" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="checkout-item__wrapper">
    <div class="checkout-item__title">Name:</div>
    <div class="checkout-item__name">{{ checkoutItem.name }}</div>
  </div>
  <div class="checkout-item__wrapper">
    <div class="checkout-item__title">Price:</div>
    <div class="checkout-item__price">{{ checkoutItem.price }}</div>
  </div>
  <div class="checkout-item__wrapper">
    <div class="checkout-item__title">Brand:</div>
    <div class="checkout-item__brand">{{ checkoutItem.brand }}</div>
  </div>
  <div class="checkout-item__wrapper">
    <div class="checkout-item__title">Quantity:</div>
    <div class="checkout-item__qty">{{ checkoutItem.qty }}</div>
  </div>
</div>
