.reset-btn{
  box-sizing: border-box;
  padding: 15px 35px;
  height: 52px;
  background-color: #5824d4;
  border: 1px solid #5824d4;
  border-radius: 3px;
  margin-left: 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.reset-btn:hover{
  color: #5824d4;
  background-color: #fff;
}
