<div class="wishlist-item" fxLayout="column" fxLayoutAlign="space-between stretch">
  <div class="wishlist-item-img-container">
    <img class="wishlist-item-img" src={{wishlistItem.imageUrl}} alt=""  (error)="onImgError($event)">
  </div>
  <div class="wishlist-item-name">{{wishlistItem.name}}</div>
  <div class="wishlist-item-brand">Brand: {{wishlistItem.brand}}</div>
  <div class="wishlist-item-category">Category: {{wishlistItem.category}}</div>
  <div class="wishlist-item-colors">
  <div  *ngFor="let color of wishlistItem.product_colors">
    <div class="wishlist-item-color"
    [style.background-color]="color.hex_value"
    (click)="setSelectedColor(color.hex_value)"
    [ngStyle]="{ border: color.selected ? '#c2185b solid 3px' : 'none' }">
    </div>
  </div>
  </div>
  <div class="wishlist-item-price">Price: {{wishlistItem.price }}</div>
  <div class="wishlist-item-quantity" fxLayout="row" fxLayoutAlign="space-between stretch">
    <button class="product-increment quantity-btn" (click)="onDecrementClick()" [disabled]="decrementDisabled()">-</button>
    <input type="text" class="product-quantity-input" value={{productCount}} readonly="true" id="qty">
    <button class="product-decrement quantity-btn" (click)="onIncrementClick()" [disabled]="incrementDisabled()">+</button>
  </div>
  <button class="wishlist-item-btn"  [routerLink]="[wishlistItem.id]">VIEW DETAILS</button>
  <button class="wishlist-item-btn" (click)="removeFromWishlist(wishlistItem)">REMOVE FROM WISHLIST</button>
  <button class="wishlist-item-btn" (click)="checkIsColorSet()">ADD TO CART
    <div *ngIf="warningToSetColor" class="select-color-warning">Select color, please</div>
  </button>
</div>
