.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #D9D2E9;
}

.progress-bar-container {
  height: 4px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}
.navigation{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
.main-menu{
  width: 100%;
  display: flex;
  justify-content: space-around;

  &__item{
    list-style-type: none;
    padding: 15px;
    text-transform: uppercase;
    color:#fff;
  }
  &__item:hover{
    background-color: #fff;
    color: #000;
  }
  &__item-link{
    color: #4f4f4f;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }
}
.mat-drawer{
  width: 400px;
  background-color: #B4A7D6;
}

.cart{
  margin-left: 40px;
}
.cart-btn{
  border: none;
  background-color: transparent;
  position: relative;
}
.cart-quantity{
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: #5824d4;
}
.logo{
  display: flex;
  align-items: center;
}

.mat-drawer-backdrop {
  background-color: rgba(192,	116,	138,.6);
}
.close-btn{
  border: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
}
.close-btn img{
  width: 100%;
}
.cart-title{
  line-height: 35px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 2px;
}
