<div class="progress-bar-container spinner-container">
  <mat-progress-bar
    *ngIf="loaderService.isLoading | async"
    mode="indeterminate"
  >
  </mat-progress-bar>
</div>
<mat-drawer-container class="layout-container" autosize>
  <mat-drawer #drawer class="cart-sidewindow" mode="over" position="end">
    <div class="cart-navigation">
      <p class="cart-title">Cart</p>
      <button
        class="close-btn"
        type="button"
        mat-button
        (click)="drawer.toggle()"
      >
        <img src="assets/close-icon.png" alt="" />
      </button>
    </div>
    <app-cart
      [drawer]="drawer"
      (totalQtyOutput)="setTotalCartItemsQty($event)"
    ></app-cart>
  </mat-drawer>
  <nav class="navigation" fxLayout="row" fxLayout.sm="row wrap" fxLayoutAlign.sm="center center" fxLayout.xs="row wrap">
    <div class="logo" fxLayout="row" fxLayoutAlign="center center">
      <img class="img-responsive" src="assets/logo.png" />
    </div>
    <ul class="main-menu">
      <li class="main-menu__item">
        <a routerLink="/products" class="main-menu__item-link">Products</a>
      </li>
      <li class="main-menu__item">
        <a routerLink="/checkout" class="main-menu__item-link">Checkout</a>
      </li>
    </ul>
    <div class="layout-features" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="wishlist">
          <div (click)="openDialog()" class="auth-link">
              <img class="wishlist-img"
                src="assets/wishlist.png"
                alt="user"
              />
            </div>
      </div>
      <button class="cart"
        type="button"
        mat-button
        (click)="drawer.toggle()"
        class="cart-btn"
        id="cartBtn"
      >
        <span class="cart-quantity">{{ qty }}</span>
        <img class="cart-img" src="assets/cart.png" alt="cart" />
      </button>
      <div class="authentification">
        <div *ngIf="(authService.loggedIn$ | async)">
          <a routerLink="/profile" class="auth-link">
            <img class="user-img" src="assets/account.png" alt="user" />
          </a>
        </div>
        <div *ngIf="!(authService.loggedIn$ | async)">
          <a routerLink="/sign-in" class="auth-link">
            <img class="user-img" src="assets/account.png" alt="user" />
          </a>
        </div>

      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</mat-drawer-container>
