<div class="progress-bar-container spinner-container">

  <mat-progress-bar *ngIf="loaderService.isLoading | async" mode="indeterminate"> </mat-progress-bar>
</div>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" position="end" >
    <div class="cart-navigation"  fxLayout="row" fxLayoutAlign="space-between">
      <p>Cart</p>
      <button type="button" mat-button (click)="drawer.toggle()">
        X
      </button>
    </div>
  </mat-drawer>
<nav class="navigation">
  <div class="logo"><img class="img-responsive" src="assets/logo.png"></div>
  <ul class="main-menu">
    <li class="main-menu__item"><a routerLink="/products" class="main-menu__item-link">Products</a></li>
    <li class="main-menu__item"><a routerLink="/products/20" class="main-menu__item-link">Checkout</a></li>
    <!-- <li class="main-menu__item"><a routerLink="/checkout" class="main-menu__item-link">Checkout</a></li> -->
  </ul>
  <div class="cart">
    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()" class="cart-btn">
        <div class="cart-img"><img class="img-responsive" src="assets/cart.png"></div>
      </button>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
</mat-drawer-container>

