<div class="authentification-container">
  <div class="mat-elevation-z8 authentification-wrapper">
    <div class="example-loading-shade"
        *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-card class="authentification-card" fxLayout="column" fxLayoutAlign="space-evenly center">
      <div class="authentification-title">Please sign in before we proceed</div>
      <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">

        <mat-form-field class="email-container" >
          <input matInput type="email" placeholder="Email" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('email').valid && loginForm.get('email').touched">Please enter your email</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="password-container">
          <input matInput type="password" placeholder="Password" formControlName="password"
                 [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
          </mat-error>
        </mat-form-field>
        <div class="button-row" fxLayout="row" fxLayoutAlign="space-between center">
          <button class="login-btn" type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
          <button class="register-btn" type="button" mat-flat-button color="primary" (click)="register()">Register</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
