.product-item{
  width: 350px;
  padding: 15px 25px;
  border: solid 1px #5824d4;
  margin-bottom: 40px;
  height: 550px;
}
.product-img{
  max-height: 200px;
}
.product-name , .product-price, .product-brand , .product-category{
  color: #4f4f4f;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  padding:5px 10px;
}
.product-brand{
  text-transform: uppercase;
}
.product-btn{
  background-color: #5824d4;
  border: none;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  box-sizing: border-box;
  border: solid 1px #5824d4;
}
.product-btn:hover{

  color: #5824d4;
  background-color: #fff;
}
.product-img-container{
  position: relative;
}
.product-img{
  width: 100%;
}
.like-option{
  position: absolute;
  right: 10px;
  top: 10px;
}
.quantity-btn{
  width: 30px;height: 30px;
  border: #5824d4 1px solid;
  background-color: #5824d4;
  color: #fff;
}
.quantity-btn:hover{
  background-color: #fff;
  color: #5824d4;
}
.product-quantity-input{
  border: #5824d4 1px solid;
  padding: 0px 10px;
  &:focus{
    outline: none;
  }
}

