.product-item{
  max-width: 300px;
  width: 300px;
  padding: 15px 25px;
  border: solid 1px #5824d4;
  margin-bottom: 35px;
}
.product-img{
  max-height: 200px;
}
.product-name , .product-price, .product-brand , .product-category{
  color: #4f4f4f;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  padding:5px 10px;
}
.product-brand{
  text-transform: uppercase;
}
.product-btn{
  background-color: #5824d4;
  border: none;
  color: #fff;
  padding: 10px 15px;
  margin-top: 10px;
  box-sizing: border-box;
  border: solid 1px #5824d4;
}
.product-btn:hover{

  color: #5824d4;
  background-color: #fff;
}

